body{
    background-color: rgb(255, 255, 40);
}

.title-header{
    text-align: center;
}

.content-jugador{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.info-jugador{
    display: flex;
    flex-direction: column;
}

#datos{
    padding-top: 5%;
}

div.info-jugador > b{
    margin-bottom: 1rem;
}

.img-style{
    width: 200px;
    height: 200px;
}

